.title{
    align-items: center;
}
.closebtn {
    padding-left: 10px;
    color: rgb(195, 182, 164);
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;

  }
  .App{
    max-width: 500px;
   
    
    box-shadow: 0 2px 6px #555;
    margin: 50px auto;
    padding: 50px;
    background-color:rgb(207, 207, 207);
    align-items: center;
     
  }